<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="/icon.png">
    <title>Admin</title>
    <style>
        .manager>li:nth-child(odd) {
            background-color: #ccc;
            padding: 10px;
        }

        .button {
            width: fit-content;
            padding: 5px 10px;
            margin: 10px 0;
            border-radius: 3px;
        }

        .button.red {
            background-color: #ff1a1a;
            color: #fff;
        }

        .button.green {
            background-color: #00b900;
            color: #fff;
        }
    </style>
</head>

<body>
    <ul>
        <li>Load title: <input type="text" id="load-title" value="Nhấn vào màn hình để lấp đầy trái tim tớ nhée!"></li>
        <li>Card Title: <input type="text" id="card-title" value="Name & Name"></li>
        <li>Card Sub-title: <input type="text" name="" id="card-subtitle" value="14.02.2023"></li>
        <li>Image 1->14:<br>
            <input type="file" name="" id="img1" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img2" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img3" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img4" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img5" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img6" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img7" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img8" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img9" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img10" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img11" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img12" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img13" accept=".png, .jpg, .jpeg">
            <input type="file" name="" id="img14" accept=".png, .jpg, .jpeg">
            <br>Music: <input type="file" name="" id="music" accept=".mp3">
            <input type="text" id="img1-1">
            <input type="text" id="img2-1">
            <input type="text" id="img3-1">
            <input type="text" id="img4-1">
            <br>2x3<input type="text" id="img5-1">
            <input type="text" id="img6-1">
            <br>2x2<input type="text" id="img7-1">
            <br>3x2<input type="text" id="img8-1">
            <input type="text" id="img9-1">
            <input type="text" id="img10-1">
            <input type="text" id="img11-1">
            <input type="text" id="img12-1">
            <input type="text" id="img13-1">
            <input type="text" id="img14-1">
            <br>Music<input type="text" id="music-1">
        </li>
        <li>Bottom Title: <input type="text" name="" id="bottom-title" value="LOVE"></li>
        <li>Bottom Sub-title: <input type="text" name="" id="bottom-subtitle" value="Happy Valentine's day"></li>
        <li>Card2 Title: <input type="text" name="" id="card2-title" value="Love you"></li>
        <li>Card2 Content: <input type="text" name="" id="card2-content" value="Content of the letter"></li>
        <li>Card2 Signature: <input type="text" name="" id="card2-signature"></li>
        <li>Card3 title: <input type="text" name="" id="card3-title" value="Đó là những điều mà tớ muốn nói!"></li>
        <li>Card3 content: <input type="text" name="" id="card3-content" value="Cậu có gì muốn nói với tớ hông!?"></li>
        <li>Card3 send: <input type="text" name="" id="card3-send" value="Okee"></li>
        <li>FBID: <input type="text" id="fbid"></li>
        <li>ID: <input type="text" name="" id="web-id"></li>
        <button id="ok">OK</button>
    </ul>

    <ul class="manager">
        <li>
            <ul>
                <li>Name</li>
                <li>Time</li>
                <li class="button green">Detail</li>
                <li class="button red">Delete</li>
                <li><input type="checkbox" class="active">Active</li>
            </ul>
        </li>
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/admin/script.js"></script>

</html>